@use "../../styles/variables";
@use "../../styles/mixins";

.lamp-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 3rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;

  .lamp-cord {
    width: 0.08rem;
    height: 1rem;
    background: variables.$color-grey;
    margin-bottom: 0.25rem;
    transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1), background 0.3s;
    flex-shrink: 0;
    pointer-events: none;
    animation: lamp-drop 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);

    @include mixins.respond-to-max(md) {
      height: 2.8rem;
      animation: lamp-drop-mobile 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
  }

  &:hover .lamp-cord {
    height: 2.8rem;

    @include mixins.respond-to-max(md) {
      height: 2.8rem;
    }
  }

  &:active .lamp-cord {
    height: 1rem;

    @include mixins.respond-to-max(md) {
      height: 2.8rem;
    }
  }

  .lamp-bulb {
    color: variables.$color-secondary;
    font-size: 1.1rem;
    font-family: inherit;
    margin: 0;
    padding: 0;
    transition: color 0.3s, transform 0.3s;
    text-transform: lowercase;
    order: 2;
    pointer-events: none;

    &.dark {
      color: variables.$color-secondary-dark;
    }

    &.swing {
      animation: lamp-swing 0.5s;
    }
  }

  &:active .lamp-bulb {
    transform: translateY(0.3rem) scale(0.96);
  }

  &:hover .lamp-bulb {
    text-decoration: underline;
    text-decoration-thickness: 0.05rem;
    text-underline-offset: 0.5rem;
  }
}

@keyframes lamp-swing {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(-10deg); }
  40% { transform: rotate(8deg); }
  60% { transform: rotate(-6deg); }
  80% { transform: rotate(4deg); }
  100% { transform: rotate(0deg); }
}

@keyframes lamp-drop {
  0% {
    height: 0;
  }
  100% {
    height: 1rem;
  }
}

@keyframes lamp-drop-mobile {
  0% {
    height: 0;
  }
  100% {
    height: 2.8rem;
  }
}
