@use "breakpoints";
@use "variables";
@use "sass:map";

@mixin respond-to($breakpoint) {
  @if map.has-key(breakpoints.$breakpoints, $breakpoint) {
    @media (min-width: map.get(breakpoints.$breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in $breakpoints map.";
  }
}

@mixin respond-to-max($breakpoint) {
  @if map.has-key(breakpoints.$breakpoints, $breakpoint) {
    @media (max-width: calc(#{map.get(breakpoints.$breakpoints, $breakpoint)} - 1px)) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in $breakpoints map.";
  }
}

@mixin theme($mode: light) {
  @if $mode == light {
    color: var(--color-text);
    background: var(--color-background);
  } @else if $mode == dark {
    color: var(--color-text-dark);
    background: var(--color-background-dark);
  }
}