@use "breakpoints";
@use "variables";
@use "sass:map";

@mixin respond-to($breakpoint) {
  @if map.has-key(breakpoints.$breakpoints, $breakpoint) {
    @media (min-width: map.get(breakpoints.$breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in $breakpoints map.";
  }
}

@mixin respond-to-max($breakpoint) {
  @if map.has-key(breakpoints.$breakpoints, $breakpoint) {
    @media (max-width: calc(#{map.get(breakpoints.$breakpoints, $breakpoint)} - 1px)) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in $breakpoints map.";
  }
}

@mixin theme($mode: light) {
  @if $mode == light {
    color: variables.$color-text;
    background: variables.$color-background;
    --color-primary: #{variables.$color-primary};
    --color-grey: #{variables.$color-grey};
    --color-grey-2: #{variables.$color-grey-2};
    --color-highlight: #{variables.$color-highlight};
  } @else if $mode == dark {
    color: variables.$color-text-dark;
    background: variables.$color-background-dark;
    --color-primary: #{variables.$color-primary-dark};
    --color-grey: #{variables.$color-grey-dark};
    --color-grey-2: #{variables.$color-grey-2-dark};
    --color-highlight: #{variables.$color-highlight-dark};
  }
}