// Colors
$color-primary: #703327;
$color-secondary: #856a00;
$color-grey: #ccc;
$color-grey-2: #c3c3c9;
$color-text: #4a4a4a;
$color-highlight: #ffffed;
$color-background: #fffffc;

$color-primary-dark: #dcae91;
$color-secondary-dark: #ffe066;
$color-background-dark: #181818;
$color-text-dark: #eaeaea;
$color-grey-dark: #444;
$color-grey-2-dark: #222;
$color-highlight-dark: #33302a;