$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-grey: var(--color-grey);
$color-grey2: var(--color-grey2);
$color-text: var(--color-text);
$color-highlight: var(--color-highlight);
$color-background: var(--color-background);

$color-primary-dark: var(--color-primary-dark);
$color-secondary-dark: var(--color-secondary-dark);
$color-background-dark: var(--color-background-dark);
$color-text-dark: var(--color-text-dark);
$color-grey-dark: var(--color-grey-dark);
$color-grey2-dark: var(--color-grey2-dark);
$color-highlight-dark: var(--color-highlight-dark);