@use "variables";
@use "breakpoints";
@use "mixins";
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

body {
  margin: 2rem 16rem;
  @include mixins.theme(light);

  @include mixins.respond-to-max(md) {
    margin: 1rem 2rem;
  }

  @include mixins.respond-to-max(sm) {
    margin: 1rem 1.5rem;
  }

  * {
    color: variables.$color-text;
    font-family: 'IM Fell DW Pica', serif;
    line-height: 1.5;
    text-align: justify;
    text-align-last: left;
    text-transform: inherit; // Ensure text-transform is inherited globally

    strong {
      text-shadow: 0.0025em 0 currentColor, 0 0.0025em currentColor, 0 -0.0025em currentColor, -0.0025em 0 currentColor;
    }

    blockquote {
      margin: 3rem auto;
      margin-left: auto;
      margin-right: auto;
      border-left: 0.15rem solid variables.$color-grey;
      padding-left: 1rem;
      color: variables.$color-grey;
      max-width: 40rem;
      @include mixins.respond-to-max(sm) {
        margin: 1.5rem 0;
        padding-left: 0.75rem;
        max-width: 100%;
        font-size: 1rem;
      }
    }

    hr {
      height: 0.0025rem;
      margin-bottom: 1.5em;
      background: variables.$color-grey-2;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.3rem;
    }

    h4 {
      font-size: 1.2rem;
    }

    h5 {
      font-size: 1.15rem;
    }

    ::selection {
      background: variables.$color-highlight;
    }
  }

  &.dark {
    @include mixins.theme(dark);

    background: variables.$color-background-dark;

    * {
      color: variables.$color-text-dark;

      blockquote {
        border-left: 0.15rem solid variables.$color-grey-dark;
        color: variables.$color-text-dark;
      }

      hr {
        background: variables.$color-grey-2-dark;
      }

      ::selection {
        background: variables.$color-highlight-dark;
      }
    }
  }

  &.text-lowercase {
    * {
      text-transform: lowercase !important;
    }
  }

  &.text-default {
    * {
      text-transform: none !important;
    }
  }
}

body.reading-mode {
  height: 100vh;
  overflow: hidden;

  @include mixins.respond-to-max(md) {
    height: auto;
    overflow: visible;
  }

  #root {
    height: 100%;

    @include mixins.respond-to-max(md) {
      height: auto;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
