@use "variables";
@use "breakpoints";
@use "mixins";
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

* {
  color: variables.$color-text;
  text-transform: lowercase;
  font-family: 'IM Fell DW Pica', serif;
  line-height: 1.5;
  text-align: justify;
  text-align-last: left;

  strong {
    text-shadow: 0.0025em 0 currentColor, 0 0.0025em currentColor, 0 -0.0025em currentColor, -0.0025em 0 currentColor;
  }

  ::selection {
    background: variables.$color-highlight;
  }
}

body {
  margin: 2rem 16rem;
  background: variables.$color-background;
}