@use "../../styles/variables";
@use "../../styles/mixins";

.volumes {
  margin-top: 1rem;

  h4 {
    margin-bottom: 0.75rem;
    color: var(--color-primary);
  }

  body.dark & h4 {
    color: var(--color-primary-dark);
  }
}

.volumes-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include mixins.respond-to-max(md) {
    flex-direction: row;
  }

  .volume-link {
    text-decoration: none;
    border-bottom: 0.1rem solid var(--color-grey);
    width: fit-content;
    color: var(--color-secondary);

    &:hover {
      border-bottom: 0.1rem solid currentColor;
    }
  }

  body.dark & .volume-link {
    color: var(--color-secondary-dark);
    border-bottom: 0.1rem solid var(--color-grey-dark);
  }
}
