@use "../../styles/variables";

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(2rem * var(--font-scale, 1));
  color: var(--color-primary);
  height: 100%;

  span {
    animation: ellipsis 1.5s infinite;
    margin: 0 0.2rem;
  }

  span:nth-child(2) {
    animation-delay: 0.2s;
  }

  span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes ellipsis {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}