@use "../../styles/variables";
@use "../../styles/mixins";

.site-tagline {
  border-top: 1px solid variables.$color-grey-2;
  color: variables.$color-grey-2 !important;
  padding-top: 1rem;
  font-size: 0.75rem;
  float: right;
  width: 40rem;
  margin: 1.5rem 1rem;
}