@use "../../styles/variables";
@use "../../styles/mixins";

.site-tagline {
  border-top: 1px solid var(--color-grey2);
  color: variables.$color-grey2 !important;
  padding-top: 1rem;
  font-size: calc(0.75rem * var(--font-scale, 1));
  float: right;
  width: 100%;
  max-width: 40rem;
  margin: 1rem;
  box-sizing: border-box;

  @include mixins.respond-to-max(md) {
    float: none;
    width: 100%;
    margin: 1rem 0;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }
}