@use "../../styles/variables";
@use "../../styles/mixins";

article {
  flex: 5;
  font-size: 1.1rem;

  h2 {
    margin-top: 0;
  }

  @include mixins.respond-to-max(md) {
    flex: none;
  }

  .loading {
    padding: 2rem;
  }
}