@use "../../styles/variables";
@use "../../styles/mixins";


.homepage-viewer {
  width: 100%;
  max-width: 56.25rem;
  box-sizing: border-box;
  padding: 0 1rem;

  @include mixins.respond-to-max(sm) {
    max-width: 100vw;
    padding: 0;
  }
}

article {
  flex: 5;
  font-size: 1.1rem;
  max-width: 100%;
  box-sizing: border-box;

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    .new-label {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
      color: variables.$color-secondary;
    }

    a {
      flex: 1;
    }
  }

  body.dark & .title-wrapper .new-label {
    color: variables.$color-secondary-dark;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  a h2 {
    color: inherit;
  }

  a {
    text-decoration: none;

    &:hover h2 {
      text-decoration: underline;
    }
  }

  .piece-metadata {
    font-size: 0.95rem;
    margin: 1rem 0;
    color: variables.$color-grey;

    .piece-date {
      display: none;
    }

    .piece-collections {
      .collection-link {
        text-decoration: none;
        padding-bottom: 0.1rem;
        color: variables.$color-primary;

        &:hover {
          border-bottom-color: currentColor;
        }
      }
    }
  }

  body.dark & .piece-metadata {
    color: variables.$color-grey-dark;

    .collection-link {
      color: variables.$color-primary-dark;
    }
  }

  @include mixins.respond-to-max(md) {
    flex: none;
  }

  .loading {
    padding: 2rem;
  }
}