@use "../../styles/variables";
@use "../../styles/mixins";

nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;

  @include mixins.respond-to-max(sm) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    justify-content: flex-start;
  }

  a {
    color: variables.$color-primary;
    text-decoration: none;
    border-bottom: 0.1rem solid variables.$color-grey;
    width: fit-content;

    &:hover {
      border-bottom: 0.1rem solid variables.$color-grey-2-dark;
    }

    &.active {
      border-bottom: none;
    }
  }

  .random-piece-button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
    cursor: pointer;
    color: variables.$color-primary;
    text-decoration: none;
    border-bottom: 0.1rem solid variables.$color-grey;
    width: fit-content;

    &:hover {
      border-bottom: 0.1rem solid variables.$color-grey-2-dark;
    }
  }

  .rss-link {
    color: variables.$color-primary;
    text-decoration: none;
    border-bottom: 0.1rem solid variables.$color-grey;
    width: fit-content;

    &:hover {
      border-bottom: 0.1rem solid variables.$color-grey-2-dark;
    }
  }
}