
@use "../../styles/variables";
@use "../../styles/mixins";

header.header-bar {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  .header-left {
    display: flex;
    flex-direction: column;
  }

  .site-title {
    font-size: 2.5rem;
    margin: 0;
    text-decoration: none;

    @include mixins.respond-to-max(md) {
      font-size: 2rem;
    }

    @include mixins.respond-to-max(sm) {
      font-size: 1.75rem;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-thickness: 0.05rem;
      text-underline-offset: 0.5rem;
    }
  }

  .site-author {
    color: var(--color-primary, variables.$color-primary);
    margin: 0;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
