@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/animations";

header.header-bar {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  &:has(.collection-view) {
    align-items: flex-end;
  }

  .header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.collection-view {
      flex-direction: row;
      align-items: center;
      gap: 0.75rem;
    }
  }

  .collection-title {
    color: var(--color-primary);
    font-size: 1rem;
  }

  body.dark & .collection-title {
    color: var(--color-primary-dark);
  }

  .separator {
    font-size: 1rem;
    color: var(--color-grey);
  }

  body.dark & .separator {
    color: var(--color-grey-dark);
  }


  .site-title {
    text-decoration: none;

    @include mixins.respond-to-max(md) {
      font-size: 2rem;
    }

    @include mixins.respond-to-max(sm) {
      font-size: 1.75rem;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-thickness: 0.05rem;
      text-underline-offset: 0.5rem;
    }
  }

  .site-title.large {
    font-size: 2.5rem;
  }

  .site-title.medium {
    font-size: 2rem;
  }

  .site-title.small {
    font-size: 1.15rem;
  }

  .site-author {
    color: var(--color-primary);
    margin: 0;
  }

  body.dark & .site-author {
    color: var(--color-primary-dark);
  }

  .close-button {
    text-decoration: none;
    border: none;
    background: none;
    padding: 0;
    display: inline-block;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    flex-shrink: 0;
    pointer-events: auto;
    transition: transform 0.3s;
    color: var(--color-primary);

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 0.05rem;
      text-underline-offset: 0.5rem;
      animation: button-shake 0.5s;
    }
  }

  body.dark & .close-button {
    color: var(--color-primary-dark);
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    margin-left: auto;
  }
}
