@use "../../styles/mixins";

div.home-view {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  margin-top: 3rem;

  @include mixins.respond-to-max(sm) {
    margin-top: unset;
  }

  @include mixins.respond-to-max(md) {
    flex-direction: column;
    gap: 0.75rem;
  }
}

div.sidebar {
  flex: 1.5;
  min-width: 14rem;
  max-width: 20rem;
  margin-top: 0.5rem;

  @include mixins.respond-to-max(sm) {
    margin-top: unset;
  }

  @include mixins.respond-to-max(md) {
    flex: none;
    min-width: 0;
    max-width: 100%;
  }

  > p {
    margin-top: 0;
  }
}
